html, body {
  font-weight: 300;
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

header .row {
  align-items: center;
  display: flex;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background: url(officialvalois.jpg)no-repeat;
  background-size: cover;
  height: 900px;
  margin-bottom: 0px;

}

.jumbotron h2 {
  font-weight: 700;
  font-size: 150px;
  margin: 0;
  color: #e15036;
}

.jumbotron h3 {
  font-size: 45px;
  font-weight: 200;
  color: #b27368;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  text-shadow: none;
  color: #fff;
  background-color: #e15036;
}

.section > .btn{
      background-color: rgba(216,25,47,.5);
      border: 0px;
      margin-top: 10px;
      color: #fff;
      padding:10px 15px; }
.section > .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5);
  color:#fff;  }

.banner {
  background-color:#f2beb5;
  height:180px;
  color: #fff; }
.banner, .supporting {
  text-align: center;
  padding-top: 20px; }

.section {
  text-align: center;
}

.section ul {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

section h3 {
  color: #000;
}

.section h4 {
  color: #d8192f;
  margin: 30px 0 20px;
  font-size: 20px;
  padding: 0;
}

.section a {
  text-decoration: none;
  color: #000;
}
